.navbar-clearis {
    background-color: rgba(219, 190, 192, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    position: relative;
    height: 150px;
}


.logo-left {
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.acme-regular-navbar {
    margin-left: auto;     
    padding-right: 1px;   
}

.acme-regular-navbar .nav-link,
.acme-regular-navbar .dropdown-toggle,
.acme-regular-navbar .dropdown-item {
    font-family: "Mooli";
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #635845 !important;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
    margin-left: 10px;  
    margin-right: 10px; 
}

.acme-regular-navbar .nav-link:hover,
.acme-regular-navbar .dropdown-toggle:hover,
.acme-regular-navbar .dropdown-item:hover {
    color: #ffffff !important;   
    transform: scale(1.08);      
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);  
}

.logo-left img {
    height: 170px;
}


.navbar-clearis .container {
    padding-left: 100px;
}