.contenedorServicios {
    display: flex;
    justify-content: space-around;
}

.contenedorIndividual {
    width: 33%;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-servicios {
    width: 100%;
}

.contactDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 5vw;
    font-family: "Gilda Display";
    color: #635845;
    gap: 40px;
    flex-wrap: wrap;
}

.map {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}

.infoBox {
    flex: 1;
    min-width: 280px;
    max-width: 500px;
    background-color: rgba(231, 223, 223, 0.384);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.pDateContact {
    text-align: left;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 500;
}