tr {
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 6px;
    display: block;
    margin: 20px;
}

td {
    padding: 20px 10px;
    font-size: 14px;
    color: #3e3e3e;
}

.actions-cell {
    text-align: center;
}

.btn-eliminar {
    background: none;
    border: none;
    color: #d39b77;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btn-eliminar:hover {
    text-decoration: underline;
}