.turno-row {
    background: rgba(255, 255, 255, 0.159);
    transition: all 0.3s ease;
}

.turno-row:hover {
    background: rgba(255, 255, 255, 0.168);
    transform: translateY(-2px);
}

td {
    padding: 14px 25px;
    font-size: 1rem;
    color: #4a3f35;
    font-family: "Gilda Display";
    border-bottom: 1px solid rgba(210, 180, 140, 0.3);
    text-align: center;
    vertical-align: middle;
}

.asistencia-cell {
    text-align: center;
}

.asistencia-checkbox {
    cursor: pointer;
    transform: scale(1.2);
    margin-right: 6px;
}

.asistencia-label {
    font-weight: 500;
}

.actions-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    border: none;
    border-radius: 20px;
    padding: 6px 16px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.btn-secundario,
.btn-eliminar,
.btn-principal {
    background-color: rgba(255, 255, 255, 0.4) !important;
    border: 1px solid rgba(157, 145, 145, 0.344) !important;
    color: #635845 !important;
}

.btn-secundario:hover,
.btn-eliminar:hover,
.btn-principal:hover {
    background-color: rgba(255, 255, 255, 0.895) !important;
}

.btn-eliminar {
    color: #635845;
}

@media (max-width: 768px) {
    td {
        font-size: 0.85rem;
        padding: 10px 12px;
    }

    .actions-cell {
        flex-direction: column;
        gap: 5px;
    }

    button {
        font-size: 0.8rem;
        padding: 5px 10px;
    }
}